.container{

    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 4.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.dark_mode{

    position: absolute;
    top: 20px;
    right: 20px;

}

.form{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

}

.form .input_cont{

    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.form .input_cont.half{

    width: calc(50% - 10px) !important;

}

.input_cont label{

    font-size: 18px;
    color: var(--fifth-color);

}

.input_cont input{

    width: 100%;
    height: 40px;
    padding: 0px 10px;
    padding-right: 40px;
    font-size: 16px;
    color: var(--seconde-color);
    border-radius: 5px;
    border: 1px solid var(--fifth-color);
    background-color: transparent;
    outline: none;

}

/* ====== loader-style ====== */

.loader {

    position: absolute;
    right: 10px;
    bottom: 15px;
    width: 20px;
    height: 10px;
    background: linear-gradient(var(--fifth-color) calc(1 * 100% / 6),
            transparent 0 calc(3 * 100% / 6),
            var(--fifth-color) 0),
        linear-gradient(var(--fifth-color) calc(2 * 100% / 6),
            transparent 0 calc(4 * 100% / 6),
            var(--fifth-color) 0),
        linear-gradient(var(--fifth-color) calc(3 * 100% / 6),
            transparent 0 calc(5 * 100% / 6),
            var(--fifth-color) 0);
    background-size: 5px 400%;
    background-repeat: no-repeat;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

}

@keyframes matrix {
    0% {
        background-position: 0% 100%, 50% 100%, 100% 100%;
    }

    100% {
        background-position: 0% 0%, 50% 0%, 100% 0%;
    }
}

.input_cont:focus-within .loader {

    opacity: 1;
    visibility: visible;
    animation: matrix 1s infinite linear;

}

.link{

    width: 100%;

}

.link a{

    font-size: 16px;
    text-decoration: underline;
    color: var(--seconde-color);

}

.form button{

    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--constant-color);
    border: none;
    border-radius: 5px;
    background-color: var(--fifth-color);
    cursor: pointer;

}

/* ====== responsive-style ====== */

@media(max-width: 930px){

    .form .input_cont.half{

        width: 100% !important;

    }

}

@media(max-width: 390px){

    .input_cont label , .input_cont input , .link a , .form button{

        font-size: 14px !important;

    }

}